useDynLib(Rbec, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(dada2)
import(readr)
import(ggplot2)
import(doParallel)
import(foreach)
export(Rbec)
export(abd_prob)
export(consis_err)
export(error_m)
export(trans_m)
export(kmer_dist)
export(Contam_detect)